@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }

    .nav-items-container li{
        margin: 20px auto 0;
    } 

    .login-btn{
        width: 100%;
    }

    /* banner section  */
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-img , .banner-text{
        width: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text p{
        font-size: 25px;
    }
    .fa-brands{
        font-size: 30px;
    }

    .grid-container{
        grid-template-columns: 1fr;
        width: 100%;
    }
    
}
